/* * {
  border: 2px solid blue;
  box-sizing: border-box;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.calcbody {
  width: 320px;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid black;
}

.operator {
  background-color: orange;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 72px);
  grid-auto-rows: repeat(5, 60px);
  height: 90%;
  gap: 5px;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray;
}

#numdisplay {
  width: 250px;
  height: 30px;
  background-color: lightblue;
  align-self: center;
  text-align: right;
}

#calcdisplay {
  width: 250px;
  height: 20px;
  background-color: rgb(204, 227, 235);
  align-self: center;
  text-align: right;
  font-size: smaller;
}